{{page-title "Edit"}}
{{log this.model}}
<div align="center">
  <label for="name">Name :</label>
  <Input id="name" @value={{this.name}}/>

  <label for="author">Author :</label>
  <Input id="author" @value={{this.author}}/>

  <label for="publisher">Publisher :</label>
  <Input id="publisher" @value={{this.publisher}}/>

  <button type="button" {{on "click" (fn this.updateBook this.model.id) }}>Update</button>
</div>
